<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<blockquote>
    <i>This was created for the COMP3033 course at Georgian College.
    Developed by Wyatt Kirschner - 200407722.
    All respective frameworks belong to their rightful owners.</i>
</blockquote>
